<ion-content padding class="bg-image">
  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="80%">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="content" style="margin-top: 10%;">
    <div class="main-box">
      <ion-grid>
        <ion-row col-12 top style="text-align:left">
          <ion-col>
            <h2 style="color:white; font-weight:1000;">
              AS TAREFAS
              <br> SAO...
            </h2>
          </ion-col>
        </ion-row>
        <ion-row col-12 *ngFor="let item of dataList;let i = index">
          <ion-col col-8>
            <ion-input name="cname" [(ngModel)]="item.task_name" placeholder="DIGITE A TAREFA" class="border-bottom-white"></ion-input>
          </ion-col>
          <ion-col col-4 align-self-end>
            <weekendlist (selectweek)="selectWeek($event,i)"></weekendlist>
          </ion-col>
        </ion-row>
        
       <ion-row col-12 bottom style="margin-top:1%;text-align:center; line-height:1;">
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_esquerda.png" width="" (click)="goToback()">
          </ion-col>
          <ion-col col-4>
            <img src="./assets/imgs/01p3 - Porquinho Oinc.png" width="" >
          </ion-col>
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_direita.png" width="" (click)="goTonext()">
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>

</ion-content>