page-credantiallogin {

    .CredantialLogin{
        margin-top: 40%;

        .text-input{
            height: 33px;
        }
        .text-input::-moz-placeholder {
            color: white;
          }
          
          .text-input:-ms-input-placeholder {
            color: white;
          }
          
          .text-input::-webkit-input-placeholder {
            text-indent: 0;
            color: white;
          }
      .error{
        background-color : inherit !important;
          p{
            color: #e9dfda !important;
          }
           .item-inner{
            border-bottom : inherit !important;
          }
      }
    }
    .bg-color {
        background-color:#607ebe;
        }
        .bg-image {
            text-align: center;
            background-image: url(../assets/imgs/bg-img-blue.png);  
            background-size:cover; 
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
            opacity: 1;
        }
        .circle-1 {
          width: 70%;
          height:185px;
          border-radius: 50%;
          background-color: #7b99cf;
          margin:auto;
          color: white; 
          padding-top: 25%;
      } 
      .box-1 {
          width: 70%;
          border-radius: 0%;
          background-color: inherit;
          
          border: 1px solid white;
          margin:auto;
          color: white; 
          padding: 6px;
      } 
      .border-bottom-white {
          border-bottom: 1px solid white;
          width: 90%;
          margin: auto;
      }
        .logo-img {  
            margin: auto; 
              z-index: 1;   
         }  
        .text {
            text-align: center; 
        }
        .white {
            color:white;
        }
        .text-input{
            text-align: center;
            color: #ffff;
            margin : 0px !important;
        }
        .text-input::-moz-placeholder {
            color: #f3e6e64a;
          }
          
          .text-input:-ms-input-placeholder {
            color: #f3e6e64a;
          }
          
          .text-input::-webkit-input-placeholder {
            text-indent: 0;
            color: #f3e6e64a;
          }
          
}
