<ion-content padding class="bg-image">

  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="80%">
      </ion-col>
    </ion-row>
  </ion-grid>   
  
  <ion-grid class="CredantialLogin">
      <form [formGroup]="authForm" id="loginform" (ngSubmit)="onSubmit(authForm.value)">
        <ion-row col-12 style="margin-top:0%; line-height:1;">
          
          <ion-col col-12 class="border-bottom-white">
            <ion-input  type="email" formControlName="email" autocapitalize="off" placeholder="Email Adresse">
            </ion-input> 
          </ion-col>

          <ion-item class="error" *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">
              <p>Sorry, field email address is required!</p>
          </ion-item>
      
           <ion-item   class="error" *ngIf="authForm.controls.email.hasError('pattern') && authForm.controls.email.touched">
              <p>Sorry, invalid email address!</p>
           </ion-item>

          <ion-col col-12 class="border-bottom-white">
              <ion-input type="password" formControlName="password" autocapitalize="off" placeholder="Password">
              </ion-input> 
          </ion-col>

        </ion-row>
        <ion-item  class="error" *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
            <p>Sorry, field password is required!</p>
          </ion-item>

        <ion-row class="" style=" margin-top:5%;">
            <ion-col col-12>
              <button class="box-1" style="line-height:1"  >
                <small>Login</small> 
              </button>
            </ion-col>
          </ion-row>  
      </form>
     
      <ion-row class="" style=" margin-top:5%;">
          <ion-col col-12>
            <div class="box-1" style="line-height:1" (click)="goToback()">
              <small>OU OUTRA OPCAO</small> 
            </div>
          </ion-col>
        </ion-row>
   </ion-grid> 
</ion-content>