<ion-content padding class="bg-image">

  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="80%">
      </ion-col>
    </ion-row>
  </ion-grid>   
  
  <ion-grid>
        <ion-row class="" style=" margin-top:28%;">
          <ion-col col-12 class="logo-img">
            <div class="circle-1" style="line-height:1">
             <ion-input 
                type="text" 
                (keyup)="onInputkey($event)"  
                style="font-size:30px; font-weight:900" 
                class="border-bottom-white" 
                maxlength="4"
                placeholder="0000">
              </ion-input>
              <small>DIGITE O CÓDIGO DE CADASTRO</small> 
              <p><small>(esqueci meu código)</small> </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="" style=" margin-top:5%;">
          <ion-col col-12>
            <div class="box-1" style="line-height:1" (click)="signupPage()">
              <small>OU CADASTRE-SE AQUI</small> 
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="" style=" margin-top:5%;">
          <ion-col col-12>
            <div class="box-1" style="line-height:1" (click)="otherLoign()">
              <small>OU OUTRA OPCAO</small> 
            </div>
          </ion-col>
        </ion-row>
      </ion-grid> 

</ion-content>