page-register {
    .bg-color {
        background-color:#7157a3; 
        }
     
        .bg-image {
            text-align: center;
            background-image: url(../assets/imgs/bg-img-benjamin.png);  
            background-size:cover; 
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
            opacity: 1;
        }
        .main-box {
          width:100%;
           margin:auto;
            background:#7157a3;
             color:white
        }
         .border-bottom-white {
             border-bottom: 1px solid white;
             
         }
        .logo-img {  
            margin: auto; 
              z-index: 1;   
         }  
        .text-center {
            text-align: center; 
        }
        .white {
            color:white;
        }
}
