
<ion-content padding class="bg-image">

  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="80%">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-content class="main-box">
      <ion-grid>
        <ion-row col-12 top style="text-align:left">
          <ion-col>
            <h1 style="color:white; font-weight:1000">EU ME CHAMO...</h1>
          </ion-col>
        </ion-row>
        <ion-row col-12 style="margin-top:50%; line-height:1;">
          <ion-col>
            <!-- <small class="white border-bottom-white text-center">
              OpenSans Light -30pt - FFFFFF
            </small> -->
            <ion-input [(ngModel)]="responsible_name" class="white border-bottom-white text-center"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row col-12 bottom style="margin-top:40%;text-align:center; line-height:1;">
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_esquerda.png" width="" (click)="goToback()">
          </ion-col>
          <ion-col col-4>
            <img src="./assets/imgs/01p3 - Porquinho Oinc.png" width="">
          </ion-col>
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_direita.png" width="" (click)="gotoNext()">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>