<ion-content padding class="bg-image">
    <ion-grid>
      <ion-row class="" style=" margin-top:2%;">
        <ion-col col-12 class="logo-img">
          <img src="./assets/imgs/00 - logo.png" width="80%">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content style=" width:100%; margin:auto; background:#7b99cf; color:white">
        <ion-grid>
          <ion-row col-12 top style="text-align:left">
            <ion-col>
              <h2 style="color:white; font-weight:1000">NOSSO OBJETIVO E...</h2>
              <ion-input [(ngModel)]="goal_name" style="border-bottom: 2px solid #fff;"></ion-input>
            </ion-col>
          </ion-row>
  
          <ion-row col-12 style="margin-top:5%; text-align:center;">
            <ion-col>
           <p style="text-align:left; color:white">QUE CUSTA</p>
           <h6 style="color:white; font-size:25px; font-weight:1000; line-height:1;">{{goal_value}}</h6> 
           <ion-range [(ngModel)]="goal_value"  style="color:white" min="1" max="500" step="1" ></ion-range>
            </ion-col>
          </ion-row>
          <ion-row col-12 style="text-align:center;">
            <ion-col>
           <p style="color:white">E VAMOS JUNTAR POR...</p>
           <h6 style="color:white; font-size:25px; font-weight:1000; line-height:1;">{{number_of_months}}</h6> 
            <ion-range [(ngModel)]="number_of_months"  style="color:white" min="1" max="12" step="1" ></ion-range>
          </ion-col>
          </ion-row>
          <ion-row col-12 style="text-align:center; line-height:1;">
            <ion-col class="gray-bg-img"> 
              <span>
              <p style="color:white;font-style:italic">TEMOS QUE QUE GUARDAR</p>
              <h6 style="color:white; font-size:40px; font-weight:1000; line-height:1;">R${{showreupees(goal_value,number_of_months)}}</h6> 
              <p style="color:white;font-style:italic">POR MES</p>
            </span>
            </ion-col>
          </ion-row> 
  
          <ion-row col-12 bottom style="margin-top:1%;text-align:center; line-height:1;">
            <ion-col col-4 align-self-end>
              <img src="./assets/imgs/01p3 - botao_apontando_esquerda.png" width="" (click)="goToback()">
            </ion-col>
            <ion-col col-4>
              <img src="./assets/imgs/01p3 - Porquinho Oinc.png" width="" >
            </ion-col>
            <ion-col col-4 align-self-end>
              <img src="./assets/imgs/01p3 - botao_apontando_direita.png" width="" (click)="goTonext()">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>