page-customegole {
    .bg-color {
        background-color:#607ebe;
        }
     
        .bg-image {
            text-align: center;
            background-image: url(../assets/imgs/bg-img-blue.png);  
            background-size:cover; 
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
            opacity: 1;
        }

        .gray-bg-img {
          // background-image: url(../assets/imgs/02p2 - calculadora fundo.png);  
            background-image: url(../assets/imgs/02p2-calculadorafundo.png);  
            padding-top: 8%;
        }
         
        .logo-img {  
            margin: auto; 
              z-index: 1;   
         }  
        .text {
            text-align: center; 
        }
        .white {
            color:white;
        }
}
