page-ragistersetep3 {
    .bg-color {
        background-color:#68bbae; 
        }
     
        .bg-image {
            text-align: center;
            background-image: url(../assets/imgs/bg-img-water.png);  
            background-size:cover; 
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
            opacity: 1;
        }
        .main-box {
          width:100%;
           margin:auto;
            background:#68bbae;
             color:white
        }
         .border-bottom-white {
             border-bottom: 1px solid white;
             
         }
        .logo-img {  
            margin: auto; 
              z-index: 1;   
         }  
        .text-center {
            text-align: center; 
        }
        .white {
            color:white;
        }
        .ischeckicon{
            width: 20px;
            position: absolute;
            top: 11px;
            right: 0px;
        }
        .text-input{
            height: 48px;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 24px;
        }
}
