<!-- <ion-header class="">
  <ion-navbar>
    <div class="head-logo">
      <img src="./assets/imgs/04 - Logo OinCoin f16969.png" width="100px" />
    </div>
  </ion-navbar>
</ion-header> -->


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="head-logo"> <img src="./assets/imgs/logo-red.png"></div>
  </ion-navbar>
</ion-header>

<ion-content class="bg-image">

  <ion-card style="position:absolute;top:5%;">

    <ion-card-content>
      <ion-grid>
        <ion-row class="bordericon">
          <ion-col col-6>
            <img [ngClass]="data.ischild_new ? 'width60p opacity2' : 'width60p'" *ngIf="data.gender==1" src="assets/imgs/04 - crianca_menino.png"
            />
            <img [ngClass]="data.ischild_new ? 'width60p opacity2' : 'width60p'" *ngIf="data.gender==2" src="assets/imgs/04 - crianca_menina.png"
            />
          </ion-col>

          <ion-col col-6 style="margin-top:12%; text-align:right;" class="text-color bold">{{data.children_name}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <span>
              <h1 ion-text class="text-color bold" style="text-align:left; font-weight:bold">R$</h1>
            </span>
          </ion-col>
          <ion-col push-3></ion-col>

          <ion-col col-6 *ngIf="!data.ischild_new" [ngClass]="{'text-right' : !data.isparent}">
            <ion-col *ngIf="data.isparent" col-5>
              <small>faltam R$ {{data.panding_earn}}</small>
            </ion-col>
            <small *ngIf="!data.isparent">faltam R$ {{data.panding_earn}}</small>
            <img *ngIf="data.isparent" (click)='GOChildInfo()' style="vertical-align:bottom;float:right;width:  20px;height:  20px;"
              src="assets/imgs/04p4 - editar_icone_adulto.png">
          </ion-col>
        </ion-row>

        <ion-row class="bordericon" style="margin-top: 5%;">
          <ion-col col-5 style="text-align:left;">
            <small style="vertical-align:bottom;">JÁ ECONOMIZOU</small>
          </ion-col>
          <ion-col col-2>
            <h1  style="font-size: 18px;" ion-text class="text-color bold">{{data.child_earn}}</h1>
          </ion-col>
          <ion-col col-5>
            <small style="vertical-align:bottom; text-align:right;">PARA O OBJETIVO</small>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h1 style="font-weight:bold; text-align:left" class="text-color">{{data.goal_name}}</h1>
          </ion-col>
          <ion-col col-6 *ngIf="!data.ischild_new">
            <img *ngIf="data.isparent" (click)="goChildObjetic()" style="vertical-align:bottom;float:right;width:  20px;height:  20px;"
              src="assets/imgs/04p4 - editar_icone_adulto.png">
          </ion-col>
        </ion-row>

        <ion-row class="" *ngIf="!data.ischild_new">
          <ion-col col-8 style="margin-top:10%;margin-left: -10px;">
            <img src="assets/imgs/butoom_finger.png" [ngStyle]="{'margin-left': data.child_progress}" class="width30p" />
            <img style="vertical-align:bottom;bottom:0px;margin-left:  10px;" src="assets/imgs/02p3 - loading colorido_cheio.png" />
          </ion-col>
          <ion-col col-4>
            <img class="style1" src="{{data.goal_icon ? data.goal_icon : 'assets/imgs/02 - Trofeu.png' }}" />
          </ion-col>
        </ion-row>

        <ion-row class="" *ngIf="data.ischild_new">
          <ion-col col-8 style="margin-top:10%;">
            <img style="vertical-align:bottom; bottom:0px;" src="assets/imgs/02p3 - loading branco_vazio.png" />
          </ion-col>
          <ion-col col-4>
            <div class="circle-gray" style="text-align:center; font-size:80%" (click)="addGoal()">
              <div>criar</div>
              <div>um</div>
              <div>objetivo</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-card-content>
    <ion-card-content class="bgcolor-gray" style="padding-top:1%;">
      <ion-grid *ngIf="data.ischild_new">
        <ion-row>
          <ion-col col-6>
            <ion-row style="text-align:left; color:white">
              <h1 class="">tarefes</h1>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row style="text-align:center; margin:auto; margin-top:5%; margin-bottom:25%;">
          <ion-row style="float:center; border:1px solid white; padding-left:10px; padding-right:10px;">
            <span>criar tarefes</span>
          </ion-row>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="!data.ischild_new">
        <ion-row>
          <ion-col col-6>
            <ion-row style="text-align:left;">
              <span>tarefes</span>
            </ion-row>
            <img style="width: 32%;margin-left: 31%;" src="assets/imgs/01p3 - Porquinho Oinc.png" />
            <small>JÁ ECONOMIZOU</small>
          </ion-col>
          <ion-col col-6 style="margin-top: 5%;" (click)="gotoScheduletask()">
            <img style="width: 40%;margin-left: 33%;" src="assets/imgs/04p2 - check_icon.png" />
            <small>VerTrave</small>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-footer style="background-color:#f16969">
    <ion-row top style=" height:50%; background-color:#f16969">
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_MEDALHA.png" (click)="goToback()"></ion-img>
      </ion-col>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_DINHEIRO.png"> </ion-img>
      </ion-col>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_CHECK.png" (click)="goToNext()"></ion-img>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>