page-childern-dashboard {

    .style{
        width: 30%;
        position: absolute;
        left: 63%;
    }
    .style1{
         width: 100%;
        float: right;
    }
      .bordericon{
               border-bottom: 1px solid #ca2c2c;
       } 
       ion-app.md [padding] {
        padding:0px !important;
    }
    // .toolbar-background-ios {
    //      background: #f16969; 
    // }
    small{
        font-size: 74%;
    }
    .bgcolor{
        background-color: #433e6d;
        color: #fff; 
    }
    .bgcolor1{
        background-color: #71579d;
        color: #fff;
        
    }
    .bgcolor-gray{
        background-color: #71579d;
        color: #fff;
        
    } 
            
    .circle-gray {
        width:80%;
        height: 60px;
        background: #777676;
        border-radius: 50%;
        padding: 2%;
        color: white
    }
    
            .bg-color {
               background-color: #f16969;
            }
            .ion-icon {
                color: #f16969;
            }
            .bg-white {
            background-color: white;
            }
            .bg-image {
                text-align: center;
                background-image: url(../assets/imgs/bg-img-red.png);
                background-size:cover; 
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
            .head-logo { 
                margin: auto;
                text-align: center;
                position: absolute;
                width: 100%;
                left: 0;
                vertical-align: middle;
            }
            .text-color {
              color: #777676
            }
            .bold {
                font-weight: bold;
            }
            .text-c {
                text-align: center;
                margin: auto;
            } 
            .text-l {
                text-align: left;
            }
            .text-r {
                text-align: right;
            }
            .text-white {
                color: white;
            }
            .text-top {
                font-family: OpenSans regular;
                font-size: 16px;
                margin-right: 30px;
                line-height: 1.4px;
            }
            .text-lg {
                font-size: 20px;
                font:bolder;
                font-weight: bolder;
                line-height: 1.4px;
            }
            .text-sm {
                font-size: 16px;
                line-height: 1.4px;
            }

            .box-white {
                width:85%; 
                height: 60%; 
                background-color: white;
                 margin: auto; 
                z-index: 1; 
            }   
            .box-purple {
                width:85%; 
                height: 30%; 
                background-color: #71579d;
                 margin: auto; 
                z-index: 1; 
            }
            .box-white-bg {
                min-height: 400px;
                width: 80%;
                margin: auto;
            }
        
            .border-g {
                border: 1px solid gray;
            }
            .padding-g {
                padding: 2px;
            }    
}
