page-addtask {

    .scroll-content{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .slides {
        position: absolute;
        top: 40%;
    }

    .bg-color {
        background-color:#7157a3; 
        }
        ion-slides {
            display: block;
            width: 100%;
            height: 75px;
            
            }

     
        .bg-image {
            text-align: center;
            background-image: url(../assets/imgs/bg-img-benjamin.png);  
            background-size:cover; 
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
            opacity: 1;
        }
        .main-box {
            width: 75%;
              margin:auto;
            background:#7157a3;
             color:white
        }
         .border-bottom-white {
             border-bottom: 1px solid white;
         }
        .logo-img {  
            margin: auto; 
              z-index: 1;   
         }  
        .text-center {
            text-align: center; 
        }
        .box-1 {
          width: 70%;
          border-radius: 0%;  
          border: 1px solid white;
          margin:auto;
          color: white; 
          padding: 6px;
      } 
        .white {
            color:white;
        }
        ion-slide{
            .col{
                color: #7960a8;
                padding-top: 0px;
                margin-top: 0px;
                height: 142px;
               
            }
            .tasks-content{
                background: #b8abd1;
                height:  100%;
                .name{
                    font-size: 13px;
                    font-weight: 800;
                    padding-top: 10px;
                    width: 85px;
                    margin: 0 auto;
                    margin-top: 36px;
                }
                .content{
                    font-size: 18px;
                    margin-top: 0;
                }
            }
        }
        .selectedTask {
            background: #eae3f6 !important;
        }        
}
