<ion-content padding class="bg-image">

  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="80%">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="margin-top:6%;height: 85%;">
    <div class="main-box" style="height:  100%;">
      <ion-grid>
        <ion-row col-12 top style="text-align:left">
          <ion-col>
            <h2 style="color:#d2c8dc;font-weight:1000;font-size: 20px;text-align:  center;">
              DEFINAM JUNTOS
              <br> ATE 4 TAREFAS...
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h5 style="font-size:10px;">
        << TEAMOS ALGUMAS SUGESTOSS>></h5>
        <div style="position:  absolute;bottom:  0;width: 75%;margin:  0 auto;">
            <ion-row class="" style=" margin-top:3%;">
                <ion-col col-12>
                  <div class="box-1" style="line-height:1" (click)="createCustom()">
                    <small>OU CRIE PERSONALIZADAS...</small>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row col-12 bottom style="margin-top:40%;text-align:center;">
                <ion-col col-4 align-self-end>
                  <img src="./assets/imgs/01p3 - botao_apontando_esquerda.png" width="" (click)="goToback()">
                </ion-col>
                <ion-col col-4>
                  <img src="./assets/imgs/01p3 - Porquinho Oinc.png" width="">
                </ion-col>
                <ion-col col-4 align-self-end>
                  <img src="./assets/imgs/01p3 - botao_apontando_direita.png" width="" (click)="goTonext()">
                </ion-col>
              </ion-row>    
       </div>
      
    </div>
    <ion-slides>
        <ion-slide *ngFor="let items of listTask">
          <ion-row>
            <ion-col col [ngClass]="((i+1)%2)==0 ? '': 'padding0'"   *ngFor="let item of items;let i = index" (click)="addTask(item,i)">
              <div [ngClass]="item.isSelect==true ? 'selectedTask tasks-content' : 'tasks-content' ">
                <p class="name">{{item.task_name}}</p>
                <p class="content">{{getweekname(item.day_of_week)}}</p>
              </div>
            </ion-col>
           </ion-row>
        </ion-slide>
      </ion-slides>
  </div>
</ion-content>
