weekendlist {

    ion-select{
        max-width: 99%;
        
    }
    .select{
        padding-right: 0;
    }

    .item{
        height: 20px;
        font-size: 12px;
        color: white;
        border: 1px solid white;
        background-color : inherit;
        padding-left: 0;
    }
    .item-inner{
        border-bottom : unset !important;
    }
    .item-block{
        min-height: inherit;
    }
    .weekendlist .select{
        padding-right: 0;
        padding-left: 7px;
    }
    .select .select-icon{
     width: inherit !important;
     height: inherit !important;
    }
    .select-text{
        font-size: 12px;
        color: white;
    }
}
