<ion-item>
  <ion-select [(ngModel)]="Quando" (ionChange)="onChangeweek(Quando)">
    <ion-option value="0" selected="true" >Quando</ion-option>
    <ion-option value="7"  >Todos os dias</ion-option>
    <ion-option value="1">Segunda-feira</ion-option>
    <ion-option value="2">Terça-feira</ion-option>
    <ion-option value="3">Quarta-feira</ion-option>
    <ion-option value="4">Quinta-feira</ion-option>
    <ion-option value="5">Sexta-feira</ion-option>
    <ion-option value="6">Sábado</ion-option>
    <ion-option value="7">Domingo</ion-option>
    
  </ion-select>
</ion-item>