<ion-content padding class="bg-image">

  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="80%">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-content style=" width:100%; margin:auto; background:#7b99cf; color:white">
      <ion-grid>
        <ion-row col-12 top style="text-align:left">
          <ion-col>
            <h2 style="color:white; font-weight:1000">PRONTO!</h2>
          </ion-col>
        </ion-row>

        <ion-row col-12 style="text-align:center; ">
          <ion-col>
            <h1 style="color:white; font-size:50px; font-weight:1000; line-height:1;">{{access_code}}</h1>
          </ion-col>
        </ion-row>
        <ion-row col-12 style="margin-top:1px;text-align:center; line-height:1;">
         <ion-col>
            <small class="white">Esse é o seu número
              <br> OinCoin.
              <span>
                <ion-img src="./assets/imgs/01p6 - Padrao Ionic Info.png" style="background:transparent"></ion-img>
              </span>
            </small>
          </ion-col>
        </ion-row>

        <ion-row col-12 style="margin-top:8%;text-align:left; line-height:1;">
          <ion-col>
            <small class="white">
              Ele deve ser utilizado por você e
              <br> pelas crianças, nos devices onde a
              <br> OinCoin será utilizada: tablet,
              <br> smartphones e computadores, onde
              <br> estiverem \o/
            </small>
          </ion-col>
        </ion-row>

        <ion-row col-12 bottom style="margin-top:40%;text-align:center; line-height:1;">
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_esquerda.png" width="" (click)="goTo()">
          </ion-col>
          <ion-col col-4>
            <img src="./assets/imgs/01p3 - Porquinho Oinc.png" width="">
          </ion-col>
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_direita.png" width="" (click)="goTo()">
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>