
<ion-content padding class="bg-image">
  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="90%">
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid> 
    <ion-row col-12 top style=" margin-top:1%;">
      <ion-col>
        <div>
            <img src="./assets/imgs/parent.png" width="50%" (click)="openPage('1')">
         </div>
      </ion-col>
    </ion-row>
    <ion-row col-12 top style=" margin-top:1%; line-height:1">
      <ion-col>
        <div>
            <img src="./assets/imgs/Kids.png" width="50%" (click)="openPage('2')">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>