page-home {
        .bg-color {
            background-color:#68bbae; 
            } 
            .bg-image {
                text-align: center;
                background-image: url(../assets/imgs/bg-img-water.png);  
                background-size:cover; 
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
                opacity: 1;
            }
            .bg1 {
                background: white;  
              left: 0; 
              right: 0;
              position: relative; 
              opacity: 1;
            }
            .main-box {  
                background:#68bbae;
                 color:white
            }
             .border-bottom-white {
                 border-bottom: 1px solid white;
                 margin-top: -10px; 
             }
             .input-text {
                 font-size: 12px;
                 color: white;
                 border: 1px solid white;
             }
             ion-input, ion-textarea {
              position: relative;
              display: inline-block;
              -webkit-box-flex: 1;
              -webkit-flex: 1;
              -ms-flex: 1;
              flex: 1;
              width: 100%;
          }
          .text-input-ios {
               margin: 1px 8px 1px 0;
              padding: 0;
              width: calc(100% - 8px);
          }
          .logo-img {  
                margin: auto; 
                  z-index: 1;   
             }  
            .text-center {
                text-align: center; 
            }
            .white {
                color:white;
            }
    
            ::-moz-placeholder {
                color: rgba(255, 255, 255, 0.829);
              }
              
              :-ms-input-placeholder {
                color: rgba(255, 255, 255, 0.829);;
              }
              
              ::-webkit-input-placeholder {
                text-indent: 0;
                color: rgba(255, 255, 255, 0.829);;
              }  
              .circle-1 {
                width: 70%;
                height:185px;
                border-radius: 50%;
                background-color: #c95d5d; 
                margin:auto;
                color: white; 
                padding-top: 25%;
            } 
            .circle-2 {
                width: 70%;
                height:185px;
                border-radius: 50%;
                background-color: #c95d5d; 
                margin:auto;
                color: white; 
                padding-top: 30%;
            } 
             
            .text {
                text-align: center; 
            }

}
