<ion-content padding class="bg-image">
  
  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="90%">
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid> 
    <ion-row col-12 top style=" margin-top:1%;">
      <ion-col>
        <div class="circle-1" style="line-height:1" (click)="CredantialTologin()">
          <h3>Entrar</h3>
          <small>(senha do e-mail)</small>
        </div>
      </ion-col>
    </ion-row>
    <ion-row col-12 top style=" margin-top:1%; line-height:1">
      <ion-col>
        <div class="circle-1" (click)="FacebookTologin()">
            <h3>trar com o</h3>
             <small>(Facebook)</small> 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>