page-otherlogin {
    .bg-color {
        background-color:#f16969;
    } 
    .bg-image {
        text-align: center;
        background-image: url(../assets/imgs/bg-img-red.png); 
        background-size:cover; 
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; 
    }
     
    .logo-img {  
        margin: auto; 
          z-index: 1;   
     } 
    
     .circle-1 {
        width: 70%;
        height:185px;
        border-radius: 50%;
        background-color: #c95d5d; 
        margin:auto;
        color: white; 
        padding-top: 25%;
    } 
    .circle-2 {
        width: 70%;
        height:185px;
        border-radius: 50%;
        background-color: #c95d5d; 
        margin:auto;
        color: white; 
        padding-top: 30%;
    } 
     
    .text {
        text-align: center; 
    }
}
