<ion-menu [content]="content">
  <ion-header class="head bg-h">
      <ion-title class="hc">OINCOIN</ion-title>
  </ion-header>
  <ion-content class="bg">
    <ion-list class="bg">
      <button class="bg" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}} 
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
 
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

