// http://ionicframework.com/docs/theming/
.head {
    height: 100px; 
    //background-color: #8169ad;
}
body {
    font-family: Open Sans;
    font-size: 6.5px;
    line-height: 1.38;
   // color: rgba(55, 74, 102, 0.7);
  };
// .scroll-content {
//     overflow-x: hidden;
//     overflow-y: hidden;  
// }
.bg{
    background-color: #7157a3;
    color:white;
}
.bg-h {
    background-color: #8169ad;
    color:white; 
    padding-top: 20px;
}
.lin {
    height: 4px;
    width: 200px;
    background-color:white
}
.ion-toolbar {
    background-color: #8169ad;
    color:white; 
}
.toolbar-title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    pointer-events: auto;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    pointer-events: auto;
}

.width60p{
    width: 60%
}
.opacity2{
    opacity : .2;
}

.padding0{
    padding: 0px;
}

.text-right{
    text-align: right;
}

.width30p{
    width: 30px;
}