page-ragistersetep2 {
    $range-ios-bar-height:3px;
    .bg-color {
        background-color:#607ebe;
        }
     
        .bg-image {
            text-align: center;
            background-image: url(../assets/imgs/bg-img-blue.png);  
            background-size:cover; 
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
            opacity: 1;
        }
         
        .logo-img {  
            margin: auto; 
              z-index: 1;   
         }  
        .text {
            text-align: center; 
        }
        .white {
            color:white;
        }
        .text-center {
            text-align: center;
        }
        ion-card{
            height: 88%;
            margin-top: 0 !important;
        }
}
