<ion-content padding class="bg-image">

  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="80%">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card style="overflow:  scroll;">
    <ion-card-content style=" width:100%; margin:auto; background:#7b99cf; color:white">
      <ion-grid>
        <ion-row col-12 top style="text-align:left">
          <ion-col>
            <h1 style="color:white; font-weight:1000">
              E VOU ENSINAR
              <br> PLANEJAMENTO
              <br> FINANCEIRO
              <br> PARA...
            </h1>
          </ion-col>
        </ion-row>

        <ion-row col-12 style="margin-top:2%; text-align:center; ">
          <ion-col>
            <h1 style="color:white; font-size:60px; font-weight:1000; line-height:1;">{{number_child}}</h1>
          </ion-col>
        </ion-row>
        <ion-row col-12 style="margin-top:0px;text-align:left; line-height:1;">
          <ion-col>
            <ion-item style="background:transparent">
              <ion-range [(ngModel)]="number_child"  style="color:white" min="1" max="10" step="1" >
              </ion-range>
            </ion-item>
            <p class="white text-center">CRIANCAS</p>
          </ion-col>
        </ion-row>

        <ion-row col-12 bottom style="margin-top:40%;text-align:center; line-height:1;">
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_esquerda.png" width="" (click)="goToback()">
          </ion-col>
          <ion-col col-4>
            <img src="./assets/imgs/01p3 - Porquinho Oinc.png" width="">
          </ion-col>
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_direita.png" width="" (click)="gotoNext()">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>