<ion-header class="">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="head-logo">
      <img src="./assets/imgs/04 - Logo OinCoin f16969.png" width="100px" />
    </div>
  </ion-navbar>
</ion-header>
<ion-content class="bg-image">

  <ion-card style="position:absolute;top:5%; height:90%">

    <ion-card-content style="padding-top:1%;  padding-bottom:1%;">
      <ion-grid>
        <ion-row class="bordericon">
          <ion-col col-5>
            <img style="width:70%;"  *ngIf="childinfo.gender==1" src="assets/imgs/04 - crianca_menino.png"/>
            <img style="width:70%;"  *ngIf="childinfo.gender==2" src="assets/imgs/04 - crianca_menina.png"/>
          
          </ion-col>
          <ion-col col-7 style="margin-top:10%; text-align:right;" class="text-color bold">

            <h1 style="font-weight:bold;" class="text-color">{{childinfo.children_name }}</h1>
            <p style="color:black">{{childinfo.goal_name}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-9 style="float:right">
            <div class="timepiker">
                <ion-icon name="ios-arrow-back" (click)="Predate()"></ion-icon>
                <span>{{showDate}}</span>
                <ion-icon name="ios-arrow-forward" (click)="Nextdate()"></ion-icon>
            </div>
            <!-- <img style="width:8%; float:right" (click)="isLoadDateTime" src="assets/imgs/04p4 - calendario-icone.png" /> -->
          </ion-col>
          <ion-col col-3 style="float:right">
            <small style="text-align:right">faltam R${{childinfo.panding_earn}}</small>
            
          </ion-col>

        </ion-row>


        <ion-row>
          <ion-col col-6>
            <img style="width:25%;float:right" src="assets/imgs/01p3 - Porquinho Oinc.png" />
          </ion-col>
          <ion-col col-6 style="text-align:left">
            <span>esta indo bem!</span>
          </ion-col>
        </ion-row>


        <div class="blue-box" style="margin-bottom:5%;">

          <ion-row>
            <ion-col col-7 style="text-align:left; float:left">
              <small>TAREFAS</small>
            </ion-col>

            <ion-col col-2 style="text-align:center">
              <ion-col style="text-align:center">
                <small>FEZ</small>
              </ion-col>

            </ion-col>
            <ion-col col-3 style="text-align:left;  ">

              <small>FEZ SIM!</small>

            </ion-col>
          </ion-row>
          <!-- 2 -->
          <!-- 3 -->
          <ion-row style="margin-top: 0%" *ngFor="let item of parm;let i = index">
            <ion-col col-7 style="text-align:left; line-height:1; padding-left:5%;">
              <h3>{{item.task_name}}</h3>
              <!-- <p style="font-size:10px">{{item.task_name}}</p> -->
              <p style="font-size:10px">R${{item.task_value}}</p>
            </ion-col>

            <ion-col col-2 style="text-align:center; margin-top:5%;">
              <div style="">
                <img *ngIf="item.is_approved!=0" (click)="isApproved(item,'Ch',i)" style="width:80%;margin:auto;border:1px solid white" src="assets/imgs/04p4 - concluido_icone.png" />
                <div *ngIf="item.is_approved==0" (click)="isApproved(item,'Ch',i)" style="width:  251px;border: qpx solid;width: 80%;margin:auto;border:1px solid white;height: 33px;"></div>
              </div>
            </ion-col>

            <ion-col col-2 style="float:left; margin-top:5%;">
              <div style=" ">
                <img *ngIf="item.is_approved==2" (click)="isApproved(item,'P',i)"  style="width:80%;margin:auto; border:1px solid white" src="assets/imgs/04p4 - concluido_icone.png" />
                <div *ngIf="item.is_approved==0 || item.is_approved==1" (click)="isApproved(item,'P',i)"  style="width:  251px;border: qpx solid;width: 80%;margin:auto;border:1px solid white;height: 33px;"></div>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <ion-row *ngIf="parm.length==0"> 
          <ion-col>
            <small>Not found Child task </small>
          </ion-col>
        </ion-row>

        

        <ion-row  class="bordericon margin-top:5%">
        </ion-row>

        <ion-row class="bordericon" *ngIf="parm.length!=0">
          <ion-col col-6>
            <img (click)="removeGoal()" style="width:32%; margin:auto" src="assets/imgs/04p4 - deletar_icone_adulto.png" />
          </ion-col>
          <ion-col col-6>
            <img (click)="editTask()"  style="width:32%; margin:auto" src="assets/imgs/04p4 - editar_icone_adulto.png" />
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-card-content>
  </ion-card>
  <ion-footer style="background-color:#f16969">
    <ion-row top>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_MEDALHA.png"></ion-img>
      </ion-col>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_DINHEIRO.png"></ion-img>
      </ion-col>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_CHECK.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>