<!-- <ion-header class="">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <div class="head-logo"> <img src="./assets/imgs/logo-red.png"></div>
  </ion-navbar>
</ion-header> -->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="head-logo"> <img src="./assets/imgs/logo-red.png"></div>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="bg-image">
        <div class="empty15"></div>
        <div class="empty15"></div>
      <div class="empty1"></div>
      <div class="ChildList" >
       <ion-row top class="" *ngFor="let items of data.children_list">
          <ion-col col-6  *ngFor="let item of items" > 
              <img (click)="selectChild(item)" class="" *ngIf="item.gender==1 && item" src="./assets/imgs/04 - crianca_menino.png" style="width: 77%;">
              <img (click)="selectChild(item)" class="" *ngIf="item.gender==2 && item" src="./assets/imgs/04 - crianca_menina.png" style="width: 77%;">
            <p class="text-c text-lg text-white">{{item.name}}</p>
        </ion-col>
      </ion-row> 
      </div>
    </div>
    <ion-footer *ngIf="data.isparent==true">
      <ion-toolbar class="text-c">
          <ion-row top>
              <ion-col>  
                  <img  (click)="addChild()" class="" src="./assets/imgs/04 - botao_adicionar.png"> </ion-col>
                </ion-row>
      </ion-toolbar>
  </ion-footer>
</ion-content>