page-objectiveedit {
    .test{
          
        height: 32px !important;
        width:32px !important;
        align-items: center;
            position: relative;
            left: 42%;
        
         }
          .bordericon{
                   border-bottom: 1px solid #f16969;
           } 
           ion-app.md [padding] {
            padding:0px !important;
        }
        .text-color {
         color: #777676
       }
        small{
            font-size: 74%;
        }
                .bg-color {
                   background-color: #f16969;
                }
                .ion-icon {
                    color: #f16969;
                }
                .bg-white {
                background-color: white;
                }
                .bg-image {
                    text-align: center;
                    background-image: url(../assets/imgs/bg-img-red.png);
                    background-size:cover; 
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    position: absolute;
                    z-index: -1; 
                }
                .head-logo { 
                    margin: auto;
                    text-align: center;
                }
                .text-c {
                    text-align: center;
                    margin: auto;
                } 
                .text-l {
                    text-align: left;
                }
                .text-r {
                    text-align: right;
                }
                .text-white {
                    color: white;
                }
                .text-top {
                    font-family: OpenSans regular;
                    font-size: 16px;
                    margin-right: 30px;
                    line-height: 1.4px;
                }
                .text-lg {
                    font-size: 20px;
                    font:bolder;
                    font-weight: bolder;
                    line-height: 1.4px;
                }
                .text-sm {
                    font-size: 16px;
                    line-height: 1.4px;
                }
        
                .empty {
                    height: 48px;
                    width: 100%;
                }
                .empty15 {
                    height: 25px;
                    width: 100%;
                }
                .box-white {
                    width:85%; 
                    height: 60%; 
                    background-color: white;
                     margin: auto; 
                    z-index: 1; 
                }   
                .box-purple {
                    width:85%; 
                    height: 30%; 
                    background-color: #71579d;
                     margin: auto; 
                    z-index: 1; 
                }
                .box-white-bg {
                    min-height: 400px;
                    width: 80%;
                    margin: auto;
                }
            
                .border-g {
                    border: 1px solid gray;
                }
                .padding-g {
                    padding: 2px;
                }
       
}
