<ion-header class="">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="head-logo">
      <img src="./assets/imgs/04 - Logo OinCoin f16969.png" width="100px" />
    </div>
  </ion-navbar>
</ion-header>
<ion-content class="bg-image">

  <ion-card style="position:absolute;top:5%;">
    <ion-card-content style="padding-top:1%;  padding-bottom:1%;">
      <ion-grid>
        <ion-row class="bordericon">
          <ion-col col-5>
            <img style="width:70%;" *ngIf="data.gender==1" src="assets/imgs/04 - crianca_menino.png"
            />
            <img style="width:70%;" *ngIf="data.gender==2" src="assets/imgs/04 - crianca_menina.png"
            />
          </ion-col>
          <ion-col col-7 style="margin-top:10%; text-align:right;" class="text-color bold">
            <h1 style="font-weight:bold;" class="text-color">{{data.children_name}}</h1>
            <p>OBJETIVO</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h1 style="font-weight:bold; text-align:left" class="text-color">{{data.goal_name}}</h1>
          </ion-col>
          <ion-col col-6 style="text-align:right">
            <small>faltam R${{data.panding_earn}}</small>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col col-12>
            <!-- <img style="width: 32%;margin:auto" src="assets/imgs/02 - Trofeu.png" /> -->
            <img style="width: 32%;margin:auto" (click)="changeImg()" src="{{data.goal_icon ? data.goal_icon : 'assets/imgs/02 - Trofeu.png' }}" />
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <div style="width: 80%;margin:  0 auto;">
                <img src="assets/imgs/butoom_finger.png" [ngStyle]="{'margin-left': data.child_progress}" class="width30p" />
            </div>
              
            <img style="width: 80%; margin:auto" src="assets/imgs/02p3 - loading colorido_cheio.png" />
          </ion-col>
          <ion-col>
            <small text-center>passou da metade!</small>
          </ion-col>
        </ion-row>

        <ion-row class="bordericon">
          <ion-col>
            <p text-center>OBJECTIVO:
              <span style="color:#f16969">{{data.goal_name}}</span>
            </p>
            <p text-center>VALOR TOTAL:
              <span style="color:#f16969">{{data.goal_value}}</span>
            </p>
            <p text-center>QUANDO:
              <span style="color:#f16969">{{data.created_at | date: 'yyyy-MM-dd' }}</span>
            </p>
            <p text-center>VALOR MENSAL:
              <span style="color:#f16969">R${{data.child_earn}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="bordericon">
          <ion-col col-6>
            <img style="width:32%; margin:auto" src="assets/imgs/04p4 - deletar_icone_adulto.png" (click)="removeGoal()"/>
          </ion-col>
          <ion-col col-6>
            <img style="width:32%; margin:auto" src="assets/imgs/04p4 - editar_icone_adulto.png" (click)="editGoal()" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-footer style="background-color:#f16969">
    <ion-row top>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_MEDALHA.png"></ion-img>
      </ion-col>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_DINHEIRO.png"></ion-img>
      </ion-col>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_CHECK.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>