<ion-header class="">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="head-logo">
      <img src="../assets/imgs/04 - Logo OinCoin f16969.png" width="100px" />
    </div>
  </ion-navbar>
</ion-header>
<ion-content class="bg-image">

  <ion-card style="position:absolute;top:5%;  height:90%">

    <ion-card-content style="padding-top:1%;  padding-bottom:1%;">
      <ion-grid>
        <ion-row class="bordericon">
          <ion-col col-5>
            <img  *ngIf="data.gender==1" src="assets/imgs/04 - crianca_menino.png"
            />
            <img  *ngIf="data.gender==2" src="assets/imgs/04 - crianca_menina.png"
            />
          </ion-col>
          <ion-col col-7 style="margin-top:10%; text-align:right;" >
               <h1 ion-text class="text-color bold" style="font-weight:bold; text-align:right;">{{data.children_name}}</h1>
            <p>{{data.goal_name}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <span>
              <h1 ion-text class="text-color bold" style="text-align:left; font-weight:bold">R$</h1>
            </span>
          </ion-col>
          <ion-col push-3></ion-col>

          <ion-col col-6> 
              <small style="float:right">faltam R$ {{data.panding_earn}}</small> 
          </ion-col>
        </ion-row>

        <ion-row class="bordericon" style="margin-top: 1%; line-height:1;">
          <ion-col col-5 style="text-align:left;"> 

            <small style="">JA ECONOMIZOU</small>

          </ion-col>
          <ion-col col-2 style="font-size:45px; padding-top:1%;">
            <h1 ion-text class="text-color bold"> 
              <span style="font-size:100%">{{data.child_earn}}</span> 
            </h1>
          </ion-col>
          <ion-col col-5> 
            <small style="text-align:right;">PARA O OBJETIVO</small> 
          </ion-col>
        </ion-row>
        <ion-row style="margin:30%"> 
            <img style="width: 400px;height: 130px;" src="{{data.goal_icon ? data.goal_icon : '../assets/imgs/01p3 - Porquinho Oinc.png' }}" />
        </ion-row>
      </ion-grid>

    </ion-card-content> 
  </ion-card>

  <ion-footer style="background-color:#f16969">
    <ion-row top>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_MEDALHA.png"></ion-img>
      </ion-col>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_DINHEIRO.png"></ion-img>
      </ion-col>
      <ion-col col-4>
        <ion-img style="background:transparent" src="assets/imgs/04p2 - icone_base_CHECK.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>