<ion-content padding class="bg-image">

  <ion-grid>
    <ion-row class="" style=" margin-top:2%;">
      <ion-col col-12 class="logo-img">
        <img src="./assets/imgs/00 - logo.png" width="80%">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="margin-top:6%">
    <div class="main-box" style="width:90%">
      <ion-grid>
        <ion-row col-12 top style="text-align:left">
          <ion-col>
            <h2 style="color:white; font-weight:1000;">
              ESCOLHA UM
              <br> OBJETIVO
              <br> PRONTO...
            </h2>
          </ion-col>
        </ion-row>
        <ion-slides>
          <ion-slide *ngFor="let items of listGoal">
            <ion-row col-12>
              <ion-col *ngFor="let item of items" (click)="createCustom(item)">
                  <img src="./assets/imgs/01p5 - Check.png" *ngIf="SelectGoal.goal_name==item.goal_name"  class="ischeckicon">
                   <img src="http://ec2-34-229-141-135.compute-1.amazonaws.com/public/uploads/{{item.goal_icon}}"  class="goalimages" style="background:transparent" width="90px" height="100">
                <p style="padding:  0px;margin:  0px;"> {{item.goal_name}}</p>
              </ion-col>
            </ion-row>
          </ion-slide>
        </ion-slides>


        <ion-row class="" style=" margin-top:3%;">
          <ion-col col-12>
            <div class="box-1" style="line-height:1" (click)="createCustom()">
              <small>OU CRIE UM PERSONALIZADO...</small>
            </div>
          </ion-col>
        </ion-row>
        <ion-row col-12 bottom style="margin-top:40%;text-align:center;">
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_esquerda.png" width="" (click)="goToBack()">
          </ion-col>
          <ion-col col-4>
            <img src="./assets/imgs/01p3 - Porquinho Oinc.png" width="">
          </ion-col>
          <ion-col col-4 align-self-end>
            <img src="./assets/imgs/01p3 - botao_apontando_direita.png" width="" (click)="goToNext()">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>