page-addgoal {

    .goalimages{
        width: 72px !important;
        height: 80px !important;
    }

    .bg-color {
        background-color:#7157a3; 
        }
     
        .bg-image {
            text-align: center;
            background-image: url(../assets/imgs/bg-img-benjamin.png);  
            background-size:cover; 
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
            opacity: 1;
        }
        .main-box {
          width:100%;
           margin:auto;
            background:#7157a3;
             color:white
        }
         .border-bottom-white {
             border-bottom: 1px solid white;
         }
        .logo-img {  
            margin: auto; 
              z-index: 1;   
         }  
        .text-center {
            text-align: center; 
        }
        .swiper-slide .ischeckicon {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
            position: absolute;
            right: 0;
        }
        .box-1 {
          width: 70%;
          border-radius: 0%;
          
          border: 1px solid white;
          margin:auto;
          color: white; 
          padding: 6px;
      } 
        .white {
            color:white;
        }
}
